/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 46, 46);
  /*position: fixed;*/
  width: 100%;

  .list-navbar {
    display: flex;
    list-style: none;
    padding: 0.5em 0.3em;
  }

  .list-navbar li a {
    color: rgb(223, 223, 223);
    margin-right: 20px;
  }

  .list-navbar li a:hover {
    color: rgb(138, 138, 138);
    transition: ease 0.5s;
  }

  .logo-name {
    color: rgb(223, 223, 223);
  }
}

/* ABOUT */

.about-container {
  background-color: azure;
  display: flex;
  height: 40vh;
  flex-direction: column;
  text-align: center;
}

.about-container h3 {
  font-size: 25px;
  margin: 20px;
}

/*TechStack*/
.tech {
  padding: 35px 70px;
}

.tech-container,
.tech-img {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}